body {
	background-color: black;
}

p {
	font-family: Courier;
	color: white;
}

.green {
	background-color: green;
	color: green;
	border: none;
	display: none;
}

.black {
	background-color: black;
	color: black;
	border: none;
}

body .boxes {
	font-family: Courier;
	color: white;
	background-color: black;
	border: none;
}

.center{
  width:41em;
  margin-left:auto;
  margin-right:auto;
}

.image{
  width:400px;
  display: none;
}

#text_foto{
  width:inherit;
}
