body {
    background-color: black;
}

p {
    font-family: Courier;
    color: white;
}

.green {
    background-color: green;
    color: green;
	  border: none;
}

.black {
    background-color: black;
    color: black;
    border: none;
}

.green {
    display:none;
}

body .boxes {
    font-family: Courier;
    color: white;
    background-color: black;
    border: none;
}

input {
	background-color: black;
	border: none;
	font-family: Courier;
  color: white;
	width:100%;
}

